@charset "utf-8";
/* CSS Document */

/***** Start General Rules *****/
:root{
	--dark-mode:#181a1e;
	--background-for-sections:#202528;
	--color-to-titles:darkslategray;
	--color-to-admin-name:#A5A4A4;
	--color-to-links:#7d8da1;
	--color-to-recent-update-text:#A5A4A4;
	--hover-links:black;
	--background-to-inputs:#373737;
	--color-to-inputs:#727272;
	--background-to-icon-total-sales-in-middle-section:#ff7f50;
	--background-to-icon-expenses-in-middle-section:#ff7782;
	--background-to-icon-income-in-middle-section:#41f1b6;
	--color-to-icons-in-middle-section:#202528;
	--color-to-text-in-analyses-class-in-middle-section:#848484;
	--color-to-dolar-in-analyses-class-in-middle-section:#C7C7C7;
	--color-to-percent-in-analyses-class-in-middle-section:#C7C7C7;
	--background-to-percent-total-sales-in-middle-section:#ff7f50;
	--background-to-percent-expenses-in-middle-section:#ff7782;
	--background-to-percent-income-in-middle-section:#41f1b6;
	--background-to-box-shadow-in-analyses-sections:red;
	--color-border-in-table-in-recent-orders:#605B5B;
	--background-to-first-icon-in-sales-analytics-section:coral;
	--background-to-second-icon-in-sales-analytics-section:#41f1b6;
	--background-to-three-icon-in-sales-analytics-section:#ff7782;
	--color-to-text-in-sales-analytics-section:#7380ec;
	--color-to-hours-in-sales-analytics-section:#7d8da1;
	--color-to-percent-in-sales-analytics-section:#ff7782;
	--color-to-icon-in-sales-analytics-section:black;
}

body#customer_page{
	background-color:var(--dark-mode);
	color:white;
}

*,html,body{
	padding:0px;
	margin:0px;
}

.clear{
	clear:both;
}
/***** End General Rules *****/

/***** Start Header Section *****/
section.header{
	height:auto;
	overflow:hidden;
}

section.header div.logo{
	background-color:var(--background-for-sections);
	padding:10px;
	box-sizing:border-box;
	float:left;
}

section.header div.logo h2 span{
	color:darkgoldenrod;
	font-style:italic;
	font-weight:bold;
}

section.header div.admin{
	background-color:var(--background-for-sections);
	padding:10px;
	box-sizing:border-box;
	float:right;
}

section.header div.admin span.admin_text{
	float:left;
}

section.header div.admin span.admin_text p.admin_name{
	color:var(--color-to-admin-name);
}

section.header div.admin span.admin_text p.admin_description{
	color:darkgoldenrod;
	font-weight:bold;
}

section.header div.admin span.admin_text p{
	padding:0px;
	margin:0px;
	text-transform:capitalize;
}

section.header div.admin span.admin_photo{
	background-image:url("../images/admin.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	border-radius:10px;
	width:50px;
	height:50px;
	display:block;
	float:left;
	margin-left:20px;
}

div#second_admin{
	display:none;
}

/***** Medium Screen ==> md *****/
@media (max-width:768px){
	div.logo_box , div.admin_box{
		display:none;
	}
	
	div#second_admin{
		display:block;
	}
	
	div#second_admin div.admin{
		margin-top:10px;
		float:left;
	}
	
	i#menu_icon{
		background-color:var(--background-for-sections);
		padding:15px 20px;
		box-sizing:border-box;
		transform:translateX(20px) translateY(20px);
		transform:-moz-translateX(20px) translateY(20px);
		transform:-ms-translateX(20px) translateY(20px);
		transform:-o-translateX(20px) translateY(20px);
		transform:-webkit-translateX(20px) translateY(20px);
		cursor:pointer;
		font-size:20px;
		
	}	
}
/***** End Header Section *****/

/***** Start Left Menu Section *****/
section.left_menu{
	background-color:var(--background-for-sections);
	box-sizing:border-box;
	padding:15px;
	height:auto;
	overflow:hidden;
}

section.left_menu ul.menu{
	list-style-type:none;
	margin:0px;
}

section.left_menu ul.menu li.item_menu:last-of-type{
	margin-top:50px;
}

section.left_menu ul.menu li.item_menu a{
	padding:5px;
	display:block;
	font-weight:normal;
	font-size:20px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	color:var(--color-to-links);
}

section.left_menu ul.menu li.item_menu a:hover{
	text-decoration:none;
	background-color:var(--hover-links);
	border-left:5px solid skyblue;
}

section#second_left_menu{
	display:none;
}

/***** Extra Large Screen ( xl ) *****/
@media (max-width:1200px){
	section.left_menu ul.menu li.item_menu a{
		text-align:center;
	}
}

/***** ( Medium Screen ==> md) to ( Extra Large Screen ==> xl) *****/
@media (min-width:767px) and (max-width:1200px){
	section.left_menu{
		display:block;
	}
	
	section.left_menu ul.menu li.item_menu a span{
		display:none;
	}
}

/***** ( Medium Screen ==> md) *****/
@media (max-width:767px){
	section.left_menu{
		margin-top:10px;
		display:none;
	}
	
	section#second_left_menu{
		display:block;
	}
	
}
/***** End Left Menu Section *****/

/***** Start Dashboard Section *****/
div.dashboard{
	height:auto;
	/*overflow:hidden;*/
}

div.dashboard div.title_and_date{
	margin-bottom:30px;
}

div.dashboard div.title_and_date h1.title{
	color:var(--color-to-titles);
	text-transform:capitalize;
}

div.dashboard div.title_and_date input.date{
	background-color:var(--background-to-inputs);
	color:var(--color-to-inputs);
	border:0px;
	outline:none;
	padding:10px;
}

div.dashboard div.analyses{
	margin-bottom:10px;
}

div.dashboard div.analyses div.total_sales , div.dashboard div.analyses div.expenses , 
div.dashboard div.analyses div.income{
	background-color:var(--background-for-sections);
	padding:25px 20px;
	box-sizing:border-box;
	border-radius:20px;
	height:auto;
	overflow:hidden;
	padding-bottom:40px;
	transition:all 0.5s ease-in-out;
}

div.dashboard div.analyses div.total_sales:hover , div.dashboard div.analyses div.expenses:hover , 
div.dashboard div.analyses div.income:hover{
	box-shadow:0px 0px 15px 0px var(--background-to-box-shadow-in-analyses-sections);
	cursor:pointer;
}

div.dashboard div.analyses div.total_sales p.icon_and_title i.icon{
	display:block;
	background-color:var(--background-to-icon-total-sales-in-middle-section);
	width:50px;
	height:50px;
	line-height:50px;
	text-align:center;
	border-radius:30px;
	font-size:20px;
}

div.dashboard div.analyses div.total_sales p.icon_and_title span.title{
	text-transform:capitalize;
	color:var(--color-to-text-in-analyses-class-in-middle-section);
}

div.dashboard div.analyses div.total_sales p.dolar_and_percent{
	margin:0px;
}

div.dashboard div.analyses div.total_sales p.dolar_and_percent span.dolar{
	font-size:20px;
	font-weight:bold;
}

div.dashboard div.analyses div.total_sales p.dolar_and_percent span.percent{
	font-size:20px;
	padding:15px 10px;
	border-radius:50px;
	border-color:var(--background-to-percent-total-sales-in-middle-section);
	border-width:5px;
	border-style:solid;
	border-right-color:transparent;
	margin-left:25px;
	color:var(--color-to-percent-in-analyses-class-in-middle-section);
}

div.dashboard div.analyses div.expenses p.icon_and_title i.icon{
	display:block;
	background-color:var(--background-to-icon-expenses-in-middle-section);
	width:50px;
	height:50px;
	line-height:50px;
	text-align:center;
	border-radius:30px;
	font-size:20px;
}

div.dashboard div.analyses div.expenses p.icon_and_title span.title{
	text-transform:capitalize;
	color:var(--color-to-text-in-analyses-class-in-middle-section);
}

div.dashboard div.analyses div.expenses p.dolar_and_percent{
	margin:0px;
}

div.dashboard div.analyses div.expenses p.dolar_and_percent span.dolar{
	font-size:20px;
	font-weight:bold;
}

div.dashboard div.analyses div.expenses p.dolar_and_percent span.percent{
	font-size:20px;
	padding:15px 10px;
	border-radius:50px;
	border-color:var(--background-to-percent-expenses-in-middle-section);
	border-width:5px;
	border-style:solid;
	border-top-color:transparent;
	border-right-color:transparent;
	margin-left:25px;
	color:var(--color-to-percent-in-analyses-class-in-middle-section);
}

div.dashboard div.analyses div.income p.icon_and_title i.icon{
	display:block;
	background-color:var(--background-to-icon-income-in-middle-section);
	width:50px;
	height:50px;
	line-height:50px;
	text-align:center;
	border-radius:30px;
	font-size:20px;
}

div.dashboard div.analyses div.income p.icon_and_title span.title{
	text-transform:capitalize;
	color:var(--color-to-text-in-analyses-class-in-middle-section);
}

div.dashboard div.analyses div.income p.dolar_and_percent{
	margin:0px;
}

div.dashboard div.analyses div.income p.dolar_and_percent span.dolar{
	font-size:20px;
	font-weight:bold;
}

div.dashboard div.analyses div.income p.dolar_and_percent span.percent{
	font-size:20px;
	padding:20px 10px;
	border-radius:50px;
	border-color:var(--background-to-percent-income-in-middle-section);
	border-width:5px;
	border-style:solid;
	margin-left:25px;
	color:var(--color-to-percent-in-analyses-class-in-middle-section);
}

/***** from ( Medium Screen ==> md ) to ( Extra Large Screen ==> xl ) *****/
@media (min-width:768px) and (max-width:1200px){
	
	div.dashboard div.analyses div.total_sales, 
	div.dashboard div.analyses div.expenses,
	div.dashboard div.analyses div.income{
		padding-bottom:20px;
	}
	
	div.dashboard div.analyses div.total_sales p.icon_and_title{
		margin-bottom:0px;
	}
	
	div.dashboard div.analyses div.total_sales p.dolar_and_percent span.percent{
		margin-left:10px;
		margin-top:10px;
		display:inline-block;
	}
	
	div.dashboard div.analyses div.expenses p.icon_and_title{
		margin-bottom:0px;
	}
	
	div.dashboard div.analyses div.expenses p.dolar_and_percent span.percent{
		margin-left:10px;
		margin-top:10px;
		display:inline-block;
	}
	
	div.dashboard div.analyses div.income p.icon_and_title{
		margin-bottom:0px;
	}
	
	div.dashboard div.analyses div.income p.dolar_and_percent span.percent{
		margin-left:10px;
		margin-top:10px;
		display:inline-block;
		transform:translateX(-10px);
		transform:-moz-translateX(-10px);
		transform:-ms-translateX(-10px);
		transform:-o-translateX(-10px);
		transform:-webkit-translateX(-10px);
	}
}

/***** ( Small Screen ==> sm ) to ( Medium Screen ==> md ) *****/
@media (min-width:576px) and (max-width:767px){
	
	div.dashboard div.analyses div.total_sales,
	div.dashboard div.analyses div.expenses,
	div.dashboard div.analyses div.income{
		margin-bottom:20px;
	}
}

/***** ( Extra Small Screen ==> xs) *****/
@media (max-width:576px){
	div.dashboard div.analyses div.total_sales,
	div.dashboard div.analyses div.expenses,
	div.dashboard div.analyses div.income{
		margin-bottom:20px;
	}
}
/***** End Dashboard Section *****/

/***** Start Recent Orders Section *****/
section.recent_orders{
	height:auto;
	overflow:hidden;
	margin-top:30px;
}

section.recent_orders div.title_and_input h1.title , section.recent_orders div.title_and_input input.search{
	float:left;
}

section.recent_orders div.title_and_input input.search{
	transform:translateX(20px) translateY(21px);
	padding:10px;
	width:50%;
	border:0px;
	outline:none;
	background-color:var(--background-to-inputs);
	color:var(--color-to-inputs);
}

section.recent_orders h1.title{
	text-transform:capitalize;
	color:var(--color-to-titles);
}

section.recent_orders div.box_table{
	background-color:var(--background-for-sections);
	padding:20px;
	border-radius:30px;
}

section.recent_orders div.box_table table{
	width:100%;
	text-align:center;
}

section.recent_orders div.box_table table tr th , section.recent_orders table tr td{
	padding:15px;
}

section.recent_orders div.box_table table tr:first-child th{
	color:#B4B0B0;
}

section.recent_orders div.box_table table tr:nth-of-type(2) td , 
section.recent_orders div.box_table table tr:nth-of-type(3) td ,
section.recent_orders div.box_table table tr:nth-of-type(4) td{
	border-bottom:1px solid var(--color-border-in-table-in-recent-orders);
}

section.recent_orders div.box_table table tr td{
	color:gray;
}

section.recent_orders div.box_table table tr:nth-of-type(2) td:nth-of-type(4) , 
section.recent_orders div.box_table table tr:nth-of-type(3) td:nth-of-type(4) ,
section.recent_orders div.box_table table tr:nth-of-type(4) td:nth-of-type(4) ,
section.recent_orders div.box_table table tr:nth-of-type(5) td:nth-of-type(4){
	color:#ff4edc;
}

section.recent_orders div.box_table table tr:nth-of-type(2) td:nth-of-type(5) , 
section.recent_orders div.box_table table tr:nth-of-type(3) td:nth-of-type(5) ,
section.recent_orders div.box_table table tr:nth-of-type(4) td:nth-of-type(5) ,
section.recent_orders div.box_table table tr:nth-of-type(5) td:nth-of-type(5){
	color:#7380ec;
}

/***** Extra Small Screen ( xs ) *****/
@media (max-width:576px){
	section.recent_orders div.box_table{
		padding-left:0px;
		padding-right:0px;
	}
}
/***** End Recent Orders Section *****/

/***** Start Recnet Update Section *****/
div.recent_update{
	margin-top:20px;
	float:right;
	height:auto;
	overflow:hidden;
	width:100%;
}

div.recent_update h4.title{
	text-transform:capitalize;
	color:var(--color-to-titles);
}

div.recent_update div.info{
	background-color:var(--background-for-sections);
	padding:9px;
	box-sizing:border-box;
	border-radius:20px;
	height:auto;
	overflow:hidden;
}

div.recent_update div.info ul.menu{
	list-style-type:none;
	padding:0px;
	margin:0px;	
}

div.recent_update div.info ul.menu li.item{
	padding:10px;
	box-sizing:border-box;
}

div.recent_update div.info ul.menu li.item span.photo{
	float:left;
	margin-right:10px;
}

div.recent_update div.info ul.menu li.item span.photo img{
	width:50px;
	height:50px;
	border-radius:30px;
}

div.recent_update div.info ul.menu li.item span.user_info{
	color:white;
	
}

div.recent_update div.info ul.menu li.item span.user_info span.description{
	display:block;
	color:var(--color-to-recent-update-text);
	font-size:13px;
	font-weight:bold;
}

/***** from ( Medium Screen ==> md ) to ( Large Screen ==> lg) *****/
@media (min-width:768px) and (max-width:992px){
	div.recent_update div.info ul.menu li.item span.user_info{
		font-size:11px;
		font-weight:bolder;
		color:dimgray;
	}
}
/***** End Recnet Update Section *****/

/***** Start Sales Analytics Section *****/
section.sales_analytics{
	float:right;
	height:auto;
	overflow:hidden;
	margin-top:30px;
}

section.sales_analytics h4.title{
	color:var(--color-to-titles);
	text-transform:capitalize;
}

section.sales_analytics div.sales_analytics_item{
	background-color:var(--background-for-sections);
	height:auto;
	overflow:hidden;
	padding:15px;
	box-sizing:border-box;
	border-radius:20px;
	margin-bottom:10px;
}

section.sales_analytics div.sales_analytics_item ul{
	margin:0px;
	padding:0px;
	list-style-type:none;
}

section.sales_analytics div.sales_analytics_item ul li{
	float:left;
}

section.sales_analytics div.sales_analytics_item ul li span.photo{
	margin-right:7px;
}

section.sales_analytics div.sales_analytics_item ul li span.photo i.icon{
	background-color:var(--background-to-first-icon-in-sales-analytics-section);
	height:50px;
	width:50px;
	line-height:50px;
	text-align:center;
	font-size:20px;
	border-radius:30px;
	color:var(--color-to-icon-in-sales-analytics-section);
}

section.sales_analytics div.sales_analytics_item:nth-of-type(2) ul li span.photo i.icon{
	background-color:var(--background-to-second-icon-in-sales-analytics-section);
}

section.sales_analytics div.sales_analytics_item:nth-of-type(3) ul li span.photo i.icon{
	background-color:var(--background-to-three-icon-in-sales-analytics-section);
}

section.sales_analytics div.sales_analytics_item ul li span.text{
	color:var(--color-to-text-in-sales-analytics-section);
}

section.sales_analytics div.sales_analytics_item ul li span.text small.hours{
	color:var(--color-to-hours-in-sales-analytics-section);
	text-transform:capitalize;
}

section.sales_analytics div.sales_analytics_item ul li span.text small.percent{
	color:var(--color-to-percent-in-sales-analytics-section);
}

/***** Medium Screen ==> md *****/
@media (max-width:767px){
	section.sales_analytics{
		width:100%;
	}
}
/***** End Sales Analytics Section *****/